/** Mobile First design. */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'header header header header header'
        '. main main main .'
        'footer footer footer footer footer'
    ;
}

.form-group {
    margin: .5rem 0rem;
    justify-content: center;
}

.form-group input[type="number"], select {
    width: 100%;
}



form {
    margin: auto;
    max-width: 100%;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.center-text {
    text-align: center;
}

#chosen-ingredients {
    min-height: 12vh;
}



input[name="selected-ingredients"]:checked + label {
    background-color: black;
    color: whitesmoke;
}
dt {
    font-weight: 600;
}


ol, ul {
    list-style: none;
    border: 1px black solid;
    padding: 1rem;
}

li {
    border-bottom: 1px solid black ;
}

li:last-child {
    border-bottom-style: none;
}

#ingredient-list {
    max-height: 50vh;
    overflow-y: scroll;
    resize: vertical;
}






/** Tablet and up */
@media  screen and (min-width: 760px) {

    .form-group {
        display: block;
    }

    
    
    input[type="number"], select {
        display: block;
        width: 100%;
    }
}