
li[data-selected='true'] {
    background-color: burlywood;
    font-size: large;
}

li[data-selected='true']::before {
    content: '>';
}

.search-stats {
    display: block;
}

#ingredient-list {
    list-style: none;
    max-height: 30vh;
    overflow-y: scroll;
}